.btn-audio{
    width: 650px;
    height: 70px;
    border-radius: 70px;
    border: solid #aaa 1px;
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 20%);
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
    position: relative;
}
.btn-audio-info{
    display: inline-block;
    position: absolute;
    /* width: 50px; */
    height: 50px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    
}
.btn-audio-img{
    display: inline-block;
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* margin: auto; */
}
.btn-audio-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.audio-auther-warp{
    display:inline-block;
    max-width: 100px;
    font-size: 14px;
    line-height: 25px;
    text-align: left;
    margin-left: 10px;
    float: right;
    white-space: nowrap; 
    text-overflow:ellipsis; 
    overflow:hidden; 
}
.btns{
    margin: auto;
    text-align: center;
}
.btn-audio-content{
    display: inline-block;
    height: 50px;
    text-align: center;
}
i:hover{
   cursor: pointer; 
}
.lastsong::before{
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/lastsong.svg) no-repeat;
    background-size: 100%;
}
.playsong::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/playsong.svg) no-repeat;
    background-size: 100%;
}
.pausesong::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/pause.svg) no-repeat;
    background-size: 100%;
}
.order::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/order.svg) no-repeat;
    background-size: 100%;
}
.loop::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/loop.svg) no-repeat;
    background-size: 100%;
}
.random::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/random.svg) no-repeat;
    background-size: 100%;
}
.ci::before{
    content: "词";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}
.nextsong::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/nextsong.svg) no-repeat;
    background-size: 100%;
}
.container{
    display: inline-block;
    width: 200px;
    height: 15px;
    border-radius: 15px;
    border:solid 1px rgb(198, 234, 255);
}
.container .now{
    max-width: 100%;
    width: 0%;
    height: 100%;
    background-color: skyblue;
    border-radius: 15px;
    transition: 0s width;
}

.start,.end{
    margin: 5px;
}
.btn-audio-right{
    display: inline-block;
    position: absolute;
    /* height: 0px; */
    bottom: 35%;
    /* left: 10px; */
    /* transform: translateY(-50%); */
    margin-left: 20px;
}
/* .btn-volume:hover .volume-container{
    display: block;
} */
.volume::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/volume.svg) no-repeat;
    background-size: 100%;
    /* cursor: pointer; */
}
.mute::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/mute.svg) no-repeat;
    background-size: 100%;
    /* cursor: pointer; */
}
.volume-container{
    position: relative;
    display: none;
    height: 80px;
    width: 7px;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-sizing: content-box;
    margin: 0px auto;
    background-color: #fff;
}
.volume-now{
    position: absolute;
    bottom: 0px;
    max-height: 100%;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 5px;
}
.volume-now::after{
    content: "";
    width: 35px;
    height: 35px;
    border: solid 1px black;
    border-radius: 50%;
    background-color: white;
    background-size: 100%;
}